{% extends "user_base.html" %}
{% block user_content %}

<div class="card">
  <div class="card-header">
    Hello, {{user.first_name}}
  </div>

  <div class="card-body  mb-2">
    <h5 class="card-title">Account Info</h5>

    <p class="card-text">Name: <span class="float-right">
      {{user.first_name}} {{user.last_name}}
      <a href="{% url 'users:profile-update' pk=user.pk %}" class='btn btn-outline'>Update</a>
    </span>
    </p>

    <p class="card-text">Email: <span class="float-right">{{user.email}}
      <a href="{% url 'users:profile-update' pk=user.pk %}"class='btn btn-outline'>Update</a>
    </span></p>

    <p class="card-text">Shipping Address:
      <span class="float-right">{{street_address}}{% if apt_address %}, {{apt_address}}{% endif %} <br>
        {{city}}, {{state}} {{zip}}
        <a href="{% url 'core:shipping-update' pk=address_pk %}"class='btn btn-outline'>Update</a>
      </span>
    </p>

    <p class="card-text">Payment:
      <span class="float-right">**** **** **** {{last4}}</span>
    </p>

    <br>

    <form method="POST" action="{% url 'core:session' %}">
      {% csrf_token %}
        <button class="btn btn-success" type="submit">Manage billing</button>
    </form>

  </div>
</div>

{% endblock user_content %}
